<!--
I converted the Price property to a string using the ToString("c") method, which renders numerical
values as currency according to the culture settings that are in effect on your server. For example, if the server
is set up as en-US, then (1002.3).ToString("c") will return $1,002.30, but if the server is set to en-GB, then
the same method will return £1,002.30.
            -->
@model ProductsListViewModel
@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary",p)

}
<div page-model="@Model.PagingInfo" page-action="List"
     page-classes-enable="true"
     page-class="btn"
     page-class-normal="btn-secondary"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>
