
<!-- Footer -->
<div class="footer footer--dark">
    <div class="container">
        <div class="footer__inner">
            <a href="index.html" class="footer__textLogo">Evie theme</a>
            <div class="footer__data">
                <div class="footer__data__item">
                    <div class="footer__row">
                        Created by <a href="" target="_blank" class="footer__link">Enriquini Cervinno</a>
                    </div>
                    
                </div>
                
                <div class="footer__data__item">
                    <div class="footer__row">
                        <a href="" target="_blank" class="footer__link">GitHub</a>
                    </div>
                    <div class="footer__row">
                        <a href="" target="_blank" class="footer__link">Twitter</a>
                    </div>
                    <div class="footer__row">
                        <a href="" target="_blank" class="footer__link">Facebook</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
