<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/css/bulma.css" />
    <link rel="stylesheet" asp-href-include="/lib/css/Botones.css " />
    <link rel="stylesheet" asp-href-include="/lib/css/navBar.css" />
    <link rel="stylesheet" asp-href-include="/lib/css/estructura.css" />


    <script src="~/lib/js/navBar.js" type="text/javascript"></script>
</head>
<body>

    @{ Html.RenderPartial("Header");}

    <div class="contenedorG">

        <div class="menu">
            @await Component.InvokeAsync("NavigationMenu")

        </div>

        <div class="contenido">
            @RenderBody()
        </div>

    </div>
    

    @{ Html.RenderPartial("_Footer"); }
</body>
</html>