@model Cart

<div class="">

    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            Your Cart<b />
            @Model.Lines.Sum(x => x.Quantity) items(s)
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }
    <a class="button" style="border-radius:25px ;border-color:#5DEAA8;"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <img src="~/lib/Images/cart.png" />
    </a>
</div>